* {
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Fontspring-DEMO-proximanovaexcn-regular.otf2") format("otf2"),
    url("/fonts/Fontspring-DEMO-proximanovaexcn-regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Fontspring-DEMO-proximanovaexcn-bold.otf2") format("otf"),
    url("/fonts/Fontspring-DEMO-proximanovaexcn-bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
} */

:root {
  font-family: "Proxima Nova", "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #19346b;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #19346b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main {
  margin: 2rem auto;
  text-align: center;
}

button {
  background-color: rgba(25, 52, 107, 1);
  color: rgba(255, 255, 255, 1);
  border-width: 0px;
  text-wrap: nowrap;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 40px;
  text-decoration: none;
  margin: 10px;
}
button:hover {
  text-decoration: none;
}
